<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687744552550-6q199r61b1ftppddp9ls6jbskuh8e3iq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687744552550-6q199r61b1ftppddp9ls6jbskuh8e3iq</string>
	<key>API_KEY</key>
	<string>AIzaSyAUrLJP4gQXO-TpF4QBl8O90XlkNW2IHfY</string>
	<key>GCM_SENDER_ID</key>
	<string>687744552550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crud</string>
	<key>PROJECT_ID</key>
	<string>labsheet2-821c8</string>
	<key>STORAGE_BUCKET</key>
	<string>labsheet2-821c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687744552550:ios:f7b0cc6c418c7477f867a7</string>
</dict>
</plist>